@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.selected-word-general {
	display: grid;
	gap: 2rem;
}

.selected-word-general__block {
	display: grid;
	gap: 0.3rem;
}

.selected-word-general__header {
	font-size: 1.5rem;
	line-height: 2.1rem;
	font-weight: 600;
}
