@import 'styles/variables';
@import 'styles/mixins';

.word-block {
	display: flex;
	align-items: flex-start;
	background-color: $grayColor-2;
	width: 32rem;
	min-height: 20rem;
	padding: 1.8rem 2rem;
}
