//@import 'styles/global/variables';
//@import 'styles/global/mixins';
//@import 'styles/global/inherit';

/*.wrapper {
	margin-top: 2.4rem;
}*/

/*.paragraph {
	font-size: 1.4rem;
}*/

/*.bold {
	font-weight: bold;
}*/

/*.analysisContent {
	margin-top: 1.6rem;
}*/

/*.correctSentencesWrapper {
	display: grid;
	gap: 1rem;
}*/

/*.correctEngSentence {
	@include paragraph-giant();
}*/
