//@import 'styles/global/variables';
//@import 'styles/global/mixins';
//@import 'styles/global/inherit';

/*.wrapper {
	width: 100%;
	@include paragraph-giant();
	margin: 1rem 0 0 0;

	&::placeholder {
		color: $grayColor-2;
	}

	&:focus {
		outline: none;
	}
}*/

/*.greenText {
	color: $greenColor-3;
}*/

/*.redText {
	color: $redColor-2;
}*/
