//@import 'styles/global/variables';
//@import 'styles/global/mixins';

/*.container {
	display: grid;
	gap: 0.8rem;
	margin-top: 3rem;
}*/

/*.wordContainer {
	display: grid;
	gap: 2px;
}*/

/*.word {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	font-size: 1.8rem;
	line-height: 2rem;
}*/

/*.wordRus {

}*/

/*.wordEng {
	color: $grayColor-4;
}*/

/*.transcription {
	display: inline-block;
	font-size: 1.6rem;
	line-height: 1.8rem;
	color: $textColor;
	background-color: $grayColor-1;
	padding: 4px 5px;
	border-radius: $radius-1;
}*/

/*.note {
	font-size: 1.3rem;
	line-height: 1.8rem;
	color: $grayColor-3;
}*/
