//@import 'styles/global/variables';
//@import 'styles/global/mixins';
//@import 'styles/global/inherit';

/*.wrapper {
    container-type: inline-size;
    padding: 1rem;
    border: 1px solid $grayColor-3;
    border-radius: $radius-1;

    @include container-width($monitor-width) {
        padding: 1.2rem 1.6rem;
    }
}*/
