@import 'styles/variables';
@import 'styles/mixins';

.parts-of-speech {
	display: flex;
	gap: 1.5rem;
}

.part-of-speech {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: .2rem;
}

.part-of-speech__title {
	font-size: 1.3rem;
	line-height: 1.8rem;
	color: $grayColor-3;
}

.part-of-speech__name {
	font-size: 1.3rem;
	line-height: 1.5rem;
	padding: 2px 4px;
	border-radius: $radius-1;

	&--white {
		color: $textColor;
		background-color: white;
	}

	&--black {
		color: white;
		background-color: $textColor;
	}
}

