//@import 'styles/global/variables';
//@import 'styles/global/mixins';
//@import 'styles/global/inherit';

/*.wrapper {
    display: grid;
    gap: 1rem;
    margin: 1rem 0 0 0;
}*/

/*.engSentence {
    @include paragraph-giant();
}*/
